{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <link rel = 'stylesheet' href="{% static '/them/style.css' %}">


  
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	{% for i in result %}



		<p>
		  
		  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample{{i.id}}" aria-expanded="false" aria-controls="multiCollapseExample2">{{i.moduls_l}}</button>
		  
		</p>
		<div class="row">
		  <div class="col">
		    <div class="collapse multi-collapse" id="multiCollapseExample{{i.id}}">
		      <div class="card card-body">
		        <!-- <a href="#">Информация</a> -->
		        <a href="{% url 'videos' i.Moduls_type_id %}">Видео:{{i.moduls_l}}</a>
		        <a href='{{ i.info_url }}' target="_blank">Подробнее</a>
		      </div>
		    </div>
		  </div>
		  <!-- <div class="col">
		    <div class="collapse multi-collapse" id="multiCollapseExample2">
		      <div class="card card-body">
		        Некоторое содержимое заполнителя для второго компонента сворачивания в этом примере множественного сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
		      </div>
		    </div>
		   --></div>
		</div>
	{% endfor %}

</body>